<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-pwa="true">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <title>ECO-SHOP</title>
    <link rel="stylesheet" href="../assets/css/theme.min.css" id="theme-styles">

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <footer class="footer pt-5 pb-4 bg-light">
        <div class="container pt-sm-2 pt-md-3 pt-lg-4">
            <div class="row pb-5 mb-lg-3">
                <!-- Về Chúng Tôi -->
                <div class="col-md-8 col-xl-7 pb-2 pb-md-0 mb-4 mb-md-0 mt-n3 mt-sm-0">
                    <h6 class="text-dark-emphasis">Về Chúng Tôi</h6>
                    <p>ECO-SHOP được thành lập bởi các thành viên của bộ môn EXE101.</p>
                </div>

                <!-- Liên Hệ -->
                <div class="col-md-4 col-xl-3 pb-2 pb-md-0 mb-4 mb-md-0">
                    <h6 class="text-dark-emphasis">Liên Hệ</h6>
                    <ul class="list-unstyled">
                        <li><strong>Email:</strong> ecoloshop@gmail.com</li>
                        <li><strong>Địa chỉ:</strong> An Bifnh, Ninh Kiều, Cần Thơ</li>
                        <li><strong>Số điện thoại:</strong> (84) 123 456 789</li>
                    </ul>
                </div>

                <!-- Chính Sách -->
                <div class="col-md-4 col-xl-3">
                    <h6 class="text-dark-emphasis">Chính Sách</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Chính sách bảo quản sản phẩm</a></li>
                    </ul>
                </div>

                <!-- Mạng Xã Hội -->
                <div class="col-md-4 col-xl-3">
                    <h6 class="text-dark-emphasis">Kết nối với chúng tôi</h6>
                    <div>
                        <a href="https://facebook.com/eco-shop" target="_blank" class="text-decoration-none me-3">
                            <i class="icon-facebook"></i> Facebook
                        </a>
                        <a href="https://instagram.com/eco-shop" target="_blank" class="text-decoration-none">
                            <i class="icon-instagram"></i> Instagram
                        </a>
                    </div>
                </div>
            </div>

            <!-- Copyright -->
            <div class="d-lg-flex align-items-center border-top pt-4 mt-3">
                <p class="fs-xs text-center text-lg-start mb-0">© All rights reserved. Made by <a
                        class="text-dark-emphasis" href="https://createx.studio/" target="_blank"
                        rel="noreferrer">ECO-SHOP</a></p>
            </div>
        </div>
    </footer>
</body>

</html>